@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto+Condensed');

.menu {
	font-family: 'Poppins', sans-serif;
	min-width: 330px;
	color: #fff;
	position: absolute;
  padding: 8px;
  background: transparent;
  border-radius: 15px;
}
.head-image {
	height: 50px;
	width: 50px;
	display: block;
	margin: auto;
}

.head {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
}

.menu .head {
  background: transparent;
	text-align: center;
	height: 30px;
  color: rgb(255,255,255);
  border-radius: 15px;
  font-weight: 200;
	line-height: 27px;
  font-size: 13px;
  filter:drop-shadow(0px 0px 5px #000000);
}

.head-image-block {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	margin-left: 10px;
	margin-right: 10px;
	filter:drop-shadow(0px 0px 5px #000000);
  }  
  .menu .head-image-block {
	background: transparent;
	  text-align: center;
	  height: 53px;
	color: #cccccc;
	font-weight: 300;
	  line-height: 27px;
	font-size: 13px;
  }

.menu .menu-items {
	max-height: 525px;
	overflow-y: auto;
  font-weight: 500;
  background: transparent;
}

.menu .menu-items .menu-item {
	display: block;
  padding: 7px;
  font-size: 14px;
	text-align: center;
  text-indent: 5px;
  margin-top: 5px;
  background: #00000070; opacity: 10;
  color: #ffffff90;
  border-radius: 15px;
  border: 3px solid rgb(107,91,173,1); opacity: 10;
}

.menu .menu-items .menu-item.selected {
  background: transparent;
  border-radius: 15px;
  border-color: rgb(0,0,0);
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

.head > span {
  position: relative;
  display: inline-block;
}

.head > span::before,
.head > span::after {
  content: "";
  position: absolute;
  top: 52%;
  width: 9999px;
  height: 0.5px;
  background: transparent;
}

.head > span::before {
  right: 105%;
  margin-right: 15px;
}

.head > span::after {
  left: 105%;
  margin-left: 15px;
}

.head-image-block > span {
	position: relative;
	display: inline-block;
  }
  
  .head-image-block > span::before,
  .head-image-block > span::after {
	content: "";
	position: absolute;
	top: 52%;
	width: 9999px;
	height: 3px;
	background: #6959ae;

  
  }
  
  .head-image-block > span::before {
	right: 105%;
	margin-right: 15px;
  }
  
  .head-image-block > span::after {
	left: 105%;
	margin-left: 15px;
  }

.menu.align-left {
	left: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-top-left {
	left: 40;
	top: 40;
}

.menu.align-top {
	left: 50%;
	top: 40;
	transform: translate(-50%, 0);
}

.menu.align-top-right {
	right: 10;
	top: 40;
}

.menu.align-right {
	right: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-bottom-right {
	right: 40;
	bottom: 40;
}

.menu.align-bottom {
	left: 50%;
	bottom: 40;
	transform: translate(-50%, 0);
}

.menu.align-bottom-left {
	left: 40;
	bottom: 40;
}

.menu.align-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* WebKit scrollbar properties */
::-webkit-scrollbar {
  width: 8px;
  border-left: 0px solid #272733;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-left: 0px solid #272733;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-left: 0px solid #272733;
}
::-webkit-scrollbar-thumb:hover {
  background: transparent;
  border-left: 0px solid #272733;
}